---
import Layout from "@/layouts/Layout.astro";

import type { GetStaticPaths } from "astro";
import ProjectLinks from "@/components/ProjectLinks.astro";
import ChipList from "@/components/ChipList.astro";

const projects = import.meta.glob("/content/{projects,projects-hackathon}/*.md", { eager: true });
const project = Object.entries(projects).find(([k, p]) => k.split("/").slice(-1)[0].split("-").slice(1).join("-").split(".")[0] === Astro.params.id)![1];
const { Content, frontmatter } = project as Record<string, any>;
const projectId = Astro.params.id;

export const getStaticPaths = (() => {
  const matches = import.meta.glob("/content/{projects,projects-hackathon}/*.md", { eager: true });
  const projects = Object.keys(matches).map((p) => p.split("/").slice(-1)[0].split("-").slice(1).join("-").split(".")[0]);
  return projects.map((p) => ({ params: { id: p } }));
}) satisfies GetStaticPaths;
---

<Layout
  title={frontmatter.name}
  description={frontmatter.description}
  class="prose prose-slate prose-strong:font-bold prose-h1:font-medium prose-li:marker:text-inherit prose-img:max-h-96 prose-h1:font-sans prose-img:max-w-full prose-img:object-contain *:w-full flex max-w-2xl flex-col items-center"
>
  <div class="pointer-events-none fixed inset-0" data-project-bg={projectId}></div>
  <div id="project-header" class="bg-background sticky top-14 z-10 pb-2 transition-all duration-200">
    <div>
      <div class="absolute left-0 top-0 h-px w-px" data-project-img={projectId}></div>
    </div>
    <div class="mb-4 flex flex-wrap items-center justify-between gap-x-8 gap-y-2">
      <h1 class="mb-0 transition-all duration-200" data-project-title={projectId}>
        {frontmatter.name}
      </h1>
      <div data-project-links={projectId}><ProjectLinks {...frontmatter} /></div>
    </div>
    <p class="-mt-4 mb-0 w-fit" data-project-desc={projectId}>
      {frontmatter.description}
    </p>
    <div id="project-header-collapse" class="mt-2 grid transition-all duration-200">
      <div class="overflow-hidden">
        <div data-project-chips={projectId}>
          <ChipList awards={frontmatter.awards?.split(/, ?/)} skills={frontmatter.skills?.split(/, ?/)} projectId={projectId} />
        </div>
      </div>
    </div>
  </div>
  <div id="project-content" class="animate-delay-100 animate-fill-both">
    <Content />
  </div>
  <div class="font-sans"></div>
</Layout>
