---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";

import ChipList from "@/components/ChipList.astro";
// @ts-ignore
import experienceData from "../../content/experience.yml";
const experience = experienceData.experience as { title: string; date: string; description: string[]; awards?: string[]; skills?: string[] }[];
const stack = experienceData.stack as { [title: string]: { name: string; icon: string; color: string; link: string }[] };

const getColor = (color: string) => {
  switch (color) {
    case "red":
      return "hover:bg-red-400/16";
    case "orange":
      return "hover:bg-orange-400/16";
    case "yellow":
      return "hover:bg-yellow-400/16";
    case "green":
      return "hover:bg-green-400/16";
    case "emerald":
      return "hover:bg-emerald-400/16";
    case "cyan":
      return "hover:bg-cyan-400/16";
    case "sky":
      return "hover:bg-sky-400/16";
    case "blue":
      return "hover:bg-blue-400/16";
    case "violet":
      return "hover:bg-violet-400/16";
    case "pink":
      return "hover:bg-pink-400/16";
    case "neutral":
      return "hover:bg-stone-400/16";
  }
};

import ProjectCard from "@/components/ProjectCard.astro";
// @ts-ignore
import featuredProjectList from "../../content/featured-projects.yml";
const projectMatches = import.meta.glob("/content/projects/*.md", { eager: true });
const featuredProjects1 = Object.entries(projectMatches).map(([k, p]) => ({
  id: k.split("/").slice(-1)[0].split(".")[0].split("-").slice(1).join("-"),
  ...(p as { frontmatter: any }).frontmatter,
})) as Record<string, any>[];
const projectMatches2 = import.meta.glob("/content/projects-hackathon/*.md", { eager: true });
const featuredProjects2 = Object.entries(projectMatches2).map(([k, p]) => ({
  id: k.split("/").slice(-1)[0].split(".")[0].split("-").slice(1).join("-"),
  ...(p as { frontmatter: any }).frontmatter,
})) as Record<string, any>[];

const featuredProjectsCombined = [...featuredProjects1, ...featuredProjects2];
const featuredProjects = featuredProjectList.featured.map((id: string) => featuredProjectsCombined.find((p) => p.id === id)) as Record<string, any>[];
---

<Layout class="flex flex-col gap-4" fadein>
  <p class="font-450 text-2xl">Hello, I'm</p>
  <h1 class="-mt-4 text-5xl font-light tracking-tighter">Chakorn Kungsanarux</h1>

  <div class="flex items-center gap-4">
    <a href="https://github.com/ChakornK" target="_blank" rel="noopener noreferrer" aria-label="github">
      <Icon name="simple-icons:github" size={24} aria-hidden="true" />
    </a>
    <a href="https://www.linkedin.com/in/chakorn-kungsanarux" target="_blank" rel="noopener noreferrer" aria-label="linkedin">
      <Icon name="simple-icons:linkedin" size={24} aria-hidden="true" />
    </a>
    <a href="https://devpost.com/chakornk" target="_blank" rel="noopener noreferrer" aria-label="linkedin">
      <Icon name="simple-icons:devpost" size={24} aria-hidden="true" />
    </a>
  </div>

  <h2 class="-mb-2 mt-8 text-2xl font-semibold">Technical Skills</h2>
  {
    Object.entries(stack).map(([title, items]) => (
      <div>
        <h3 class="text-lg font-medium">{title}</h3>
        <div class="flex flex-wrap gap-2 text-sm">
          {items.map(({ name, icon, color, link }: { name: string; icon: string; color: string; link: string }) => (
            <div class={`flex items-center relative gap-2 px-2 py-1 transition-colors rounded-full bg-surface ${getColor(color)}`}>
              <Icon name={icon} size={16} />
              <p>{name}</p>
              <a href={link} target="_blank" class="absolute inset-0" rel="noopener noreferrer" aria-label={name} />
            </div>
          ))}
        </div>
      </div>
    ))
  }

  <h2 class="-mb-2 mt-8 text-2xl font-semibold">Experience</h2>
  {
    experience.map((item) => (
      <div class="mt-2 flex flex-col gap-2 text-sm">
        <h3 class="text-xl font-medium leading-none">{item.title}</h3>
        <p class="shrink-0 text-xs">{item.date}</p>
        <ul class="ml-4">
          {item.description.map((desc) => (
            <li class="mb-1 list-disc">{desc}</li>
          ))}
        </ul>
        <ChipList awards={item.awards} skills={item.skills} />
      </div>
    ))
  }

  <div class="mt-8 flex items-center justify-between">
    <h2 class="-mb-2 text-2xl font-semibold">Featured Projects</h2>
    <a href="/projects" class="hover:border-text flex items-center gap-1 border-b border-transparent leading-none">
      <span>View all</span>
      <Icon name="carbon:arrow-right" size={16} aria-hidden="true" />
    </a>
  </div>
  {featuredProjects.map((project) => <ProjectCard {project} />)}

  <div class="mt-8">
    <h2 class="mb-2 text-2xl font-semibold">GitHub Contributions</h2>
    <div id="git-contributions" class="*:w-2xl overflow-x-auto"></div>
    <p id="git-contributions-label" class="text-sm"></p>
  </div>
</Layout>

<script>
  import { animate, stagger } from "animejs";
  animate("main > *", {
    opacity: [0, 1],
    delay: stagger(50),
    duration: 1,
  });
</script>

<style is:global>
  @media (scripting: enabled) {
    .anime-fadein main > * {
      transition: opacity 0.3s;
      opacity: 0;
    }
    body:not(.anime-fadein) main > * {
      opacity: 1 !important;
    }
  }
</style>
