---
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";

import ChipList from "@/components/ChipList.astro";
// @ts-ignore
import experienceData from "../../content/experience.yml";
const experience = experienceData.experience as { title: string; date: string; description: string[]; awards?: string[]; skills?: string[] }[];
const stack = experienceData.stack as { [title: string]: { name: string; icon: string; color: string; link: string }[] };

const getColor = (color: string) => {
  switch (color) {
    case "red":
      return "hover:bg-red-400/16";
    case "orange":
      return "hover:bg-orange-400/16";
    case "yellow":
      return "hover:bg-yellow-400/16";
    case "green":
      return "hover:bg-green-400/16";
    case "emerald":
      return "hover:bg-emerald-400/16";
    case "cyan":
      return "hover:bg-cyan-400/16";
    case "sky":
      return "hover:bg-sky-400/16";
    case "blue":
      return "hover:bg-blue-400/16";
    case "violet":
      return "hover:bg-violet-400/16";
    case "pink":
      return "hover:bg-pink-400/16";
    case "neutral":
      return "hover:bg-stone-400/16";
  }
};

import ProjectCard from "@/components/ProjectCard.astro";
// @ts-ignore
import featuredProjectList from "../../content/featured-projects.yml";
const projectMatches = import.meta.glob("/content/projects/*.md", { eager: true });
const featuredProjects1 = Object.entries(projectMatches).map(([k, p]) => ({
  id: k.split("/").slice(-1)[0].split(".")[0].split("-").slice(1).join("-"),
  ...(p as { frontmatter: any }).frontmatter,
})) as Record<string, any>[];
const projectMatches2 = import.meta.glob("/content/projects-hackathon/*.md", { eager: true });
const featuredProjects2 = Object.entries(projectMatches2).map(([k, p]) => ({
  id: k.split("/").slice(-1)[0].split(".")[0].split("-").slice(1).join("-"),
  ...(p as { frontmatter: any }).frontmatter,
})) as Record<string, any>[];

const featuredProjectsCombined = [...featuredProjects1, ...featuredProjects2];
const featuredProjects = featuredProjectList.featured.map((id: string) => featuredProjectsCombined.find((p) => p.id === id)) as Record<string, any>[];
---

<Layout class="flex flex-col gap-4" fadein>
  <p class="font-450 text-2xl">Hello, I'm</p>
  <h1 class="-mt-4 text-5xl font-light tracking-tighter">Chakorn Kungsanarux</h1>

  <div class="flex items-center gap-4">
    <a href="https://github.com/ChakornK" target="_blank" rel="noopener noreferrer" aria-label="github">
      <Icon name="simple-icons:github" size={24} aria-hidden="true" />
    </a>
    <a href="https://www.linkedin.com/in/chakorn-kungsanarux" target="_blank" rel="noopener noreferrer" aria-label="linkedin">
      <Icon name="simple-icons:linkedin" size={24} aria-hidden="true" />
    </a>
    <a href="https://devpost.com/chakornk" target="_blank" rel="noopener noreferrer" aria-label="linkedin">
      <Icon name="simple-icons:devpost" size={24} aria-hidden="true" />
    </a>
  </div>

  <h2 class="-mb-2 mt-8 text-2xl font-semibold">Technical Skills</h2>
  {
    Object.entries(stack).map(([title, items]) => (
      <div>
        <h3 class="text-lg font-medium">{title}</h3>
        <div class="flex flex-wrap gap-2 text-sm">
          {items.map(({ name, icon, color, link }: { name: string; icon: string; color: string; link: string }) => (
            <div class={`flex items-center relative gap-2 px-2 py-1 transition-colors rounded-full bg-surface ${getColor(color)}`}>
              <Icon name={icon} size={16} />
              <p>{name}</p>
              <a href={link} target="_blank" class="absolute inset-0" rel="noopener noreferrer" aria-label={name} />
            </div>
          ))}
        </div>
      </div>
    ))
  }

  <h2 class="-mb-2 mt-8 text-2xl font-semibold">Experience</h2>
  {
    experience.map((item) => (
      <div class="mt-2 flex flex-col gap-2 text-sm">
        <h3 class="text-xl font-medium leading-none">{item.title}</h3>
        <p class="shrink-0 text-xs">{item.date}</p>
        <ul class="ml-4">
          {item.description.map((desc) => (
            <li class="mb-1 list-disc">{desc}</li>
          ))}
        </ul>
        <ChipList awards={item.awards} skills={item.skills} />
      </div>
    ))
  }

  <div class="mt-8 flex items-center justify-between">
    <h2 class="-mb-2 text-2xl font-semibold">Featured Projects</h2>
    <a href="/projects" class="hover:border-text flex items-center gap-1 border-b border-transparent leading-none">
      <span>View all</span>
      <Icon name="carbon:arrow-right" size={16} aria-hidden="true" />
    </a>
  </div>
  {featuredProjects.map((project) => <ProjectCard {project} />)}

  <div class="mt-8">
    <h2 class="mb-2 text-2xl font-semibold">GitHub Contributions</h2>
    <div id="git-contributions" class="*:w-2xl overflow-x-auto"></div>
    <p id="git-contributions-label" class="text-sm"></p>
  </div>
</Layout>

<script>
  const generateGraph = (_data?: string) => {
    const data = _data || Array.from({ length: 7 }, () => Array.from({ length: 53 }, () => "0").join("")).join("\n");
    const cellSpacing = 3;
    const cellWidth = 10;
    const cellHeight = 10;
    const fontSize = 12;

    let svg = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 686 91" width="686" height="91">
<style>
  .t {
    fill: #003943;
    width: ${cellWidth}px; 
    height: ${cellHeight}px; 
    rx: 2px;
  }
  .s {
    font-size: ${fontSize}px; 
    dominant-baseline: hanging; 
  }
  .a { fill: #d4d4cf33; }
  .b { opacity: 0.25; }
  .c { opacity: 0.5; }
  .d { opacity: 0.75; }
  .e { opacity: 1; }
</style>`;

    let x = 0;
    let y = 0;

    for (const row of data.split("\n")) {
      x = 0;
      for (const tile of row.split("")) {
        svg += `<rect class="t ${["a", "b", "c", "d", "e"][+tile]}" x="${x}" y="${y}" />`;
        x += cellWidth + cellSpacing;
      }
      y += cellHeight + cellSpacing;
    }
    svg += "</svg>";

    return svg;
  };

  const container = document.getElementById("git-contributions");
  const label = document.getElementById("git-contributions-label");
  if (container) {
    container.innerHTML = generateGraph();
  }
  fetch("https://chakornk.github.io/contrib-graph/graph.txt")
    .then((res) => res.text())
    .then((data) => {
      const lns = data.split("\n");
      if (label) {
        label.innerHTML = `${lns[0]} contributions in the last year`;
      }
      if (container) {
        container.innerHTML = generateGraph(lns.slice(1).join("\n"));
      }
    });
</script>

<script>
  import { waapi, stagger } from "animejs";
  waapi.animate(".anime-fadein main > *", {
    opacity: [0, 1],
    delay: stagger(50),
    duration: 300,
  });
</script>

<style is:global>
  @media (scripting: enabled) {
    .anime-fadein main > * {
      opacity: 0;
    }
  }
</style>
