---
import { Icon } from "astro-icon/components";

const routes = Object.entries({
  "/": "Home",
  "/projects": "Projects",
});
const extLinks = Object.entries({
  Resume: "/resume.pdf",
});
const { pathname } = Astro.url;
---

<div class="fixed left-0 right-0 top-0 z-50 h-14 select-none bg-neutral-50 font-medium">
  <div id="nav-highlight-container" class="absolute inset-0 mx-auto w-min p-4">
    <div id="nav-items" class="*:px-1 *:col-end-[span_1] *:row-span-1 relative grid auto-cols-max gap-4">
      {
        routes.map(([path, name], i) =>
          pathname.replace(/(?<=[^\^])\/$/, "") === path ?
            <p style={`grid-column-start: ${i + 1}`} data-path={path}>
              {name}
            </p>
          : <a href={path} class="hover:underline" style={`grid-column-start: ${i + 1}`} data-path={path}>
              {name}
            </a>,
        )
      }
      {
        extLinks.map(([name, url], i) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="group inline-flex items-center gap-1 hover:underline"
            style={`grid-column-start: ${routes.length + i + 1}`}
          >
            <span>{name}</span>{" "}
            <Icon name="carbon:launch" size={12} stroke-width={"2px"} class="opacity-0 transition-opacity duration-100 group-hover:opacity-100" />
          </a>
        ))
      }
    </div>
    <div
      id="nav-highlight"
      class="pointer-events-none absolute bottom-4 top-4 bg-white mix-blend-difference"
      style={`opacity:${routes.length > 0 ? 1 : 0};transition:opacity .15s linear;`}
    >
    </div>
  </div>
</div>
