---
import ProjectLinks from "@/components/ProjectLinks.astro";
import SkillList from "@/components/SkillList.astro";
const { project } = Astro.props;
---

<div class="bg-surface hover:bg-highlight relative flex flex-col-reverse items-stretch gap-2 rounded-xl p-2 text-sm transition-colors sm:flex-row">
  <div class="h-48 shrink-0 overflow-clip rounded-md sm:absolute sm:bottom-2 sm:left-2 sm:top-2 sm:h-auto sm:w-48">
    <img
      src={project.thumbnail}
      alt={project.name}
      class="h-full w-full object-cover"
      style={project.thumbnailPosition ? `object-position:${project.thumbnailPosition}` : undefined}
      decoding="async"
    />
  </div>
  <div class="flex grow flex-col gap-2 p-2 pb-2 sm:pl-52">
    <div class="flex flex-wrap justify-between gap-x-4 gap-y-2">
      <h3 class="text-xl font-medium leading-none">{project.name}</h3>
      <ProjectLinks {...project} />
    </div>
    <p>{project.description}</p>
    <SkillList items={project.skills.split(/, ?/)} />
  </div>
  <a href={`/projects/${project.id}`} class="absolute inset-0 z-10 select-none opacity-0" aria-label={project.name}></a>
</div>
