---
import Layout from "@/layouts/Layout.astro";

import { Icon } from "astro-icon/components";

import SkillList from "@/components/SkillList.astro";

// @ts-ignore
import data from "../../../content/experience.yml";
const experience = data.experience as { title: string; date: string; description: string[]; skills: string[] }[];
const stack = data.stack as { [title: string]: { [skill: string]: string } };
---

<Layout title="Experience" description="My work experiences and tech stack">
  <main class="flex flex-col gap-4">
    <h1 class="font-mono text-3xl font-semibold">Experience</h1>
    {
      experience.map((item) => (
        <div class="flex flex-col gap-2 border border-neutral-950 p-4 text-sm">
          <h2 class="font-mono text-lg font-medium leading-none">{item.title}</h2>
          <p class="shrink-0 font-mono text-xs">{item.date}</p>
          <ul class="ml-4">
            {item.description.map((desc) => (
              <li class="mb-1 list-disc">{desc}</li>
            ))}
          </ul>
          <SkillList items={item.skills} />
        </div>
      ))
    }

    <h1 class="mt-8 font-mono text-3xl font-semibold">Tech stack</h1>
    {
      Object.entries(stack).map(([title, items]) => (
        <div>
          <h2 class="mb-1 font-mono text-lg font-medium">{title}</h2>
          <div class="flex flex-wrap gap-2 text-sm">
            {Object.entries(items).map(([skill, icon]) => (
              <div class="flex items-center gap-2 border border-neutral-950 px-2 py-1">
                <Icon name={icon} size={18} />
                <p>{skill}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </main>
</Layout>
